.featured-areas {
  position: relative;
  // background-color: green;
  background-image: url(../img/map-background.png);
  @media only screen and (max-width: $bp-pro) {
    background-position: center;
  }
  background-size: cover;
  grid-row: 5 / 6;
  grid-column: sidebar-start / full-end;
  padding: 5rem 9rem;
  // margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__img {
    position: absolute;
  }

  &__title {
    color: white;
    margin-bottom: 3.5rem;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 5.5rem;
    letter-spacing: 0.25rem;

    border-bottom: 0.25px solid white;

    max-width: min-content;
  }

  &__map {
    position: absolute;
    top: 19%;
    left: 39%;
    @media only screen and (max-width: $bp-pro) {
      top: 39%;
      left: 24%;
    }
    @media only screen and (max-width: 822px) {
      top: 44%;
      left: 12.5%;
    }
    @media only screen and (max-width: 710px) {
      transform: scale(.8);
      top: 41%;
      left: 7.5%;
    }
    @media only screen and (max-width: 605px) {
      transform: scale(.5);
      top: 41%;
      left: -10%;
    }

    @media only screen and (max-width: 420px) {
      transform: scale(.5);
      top: 47%;
      left: -28%;
    }

    @media only screen and (max-width: 370px) {
      transform: scale(.5);
      top: 47%;
      left: -47%;
    }
  }
  &__map-text {
    position: absolute;
    top: 17%;
    left: 37.25%;
    height: 430px;
    width: 575px;
    @media only screen and (max-width: $bp-pro) {
      top: 37%;
      left: 22.5%;
    }
    @media only screen and (max-width: 822px) {
      top: 41%;
      left: 11%;
    }
    @media only screen and (max-width: 710px) {
      top: 44%;
      left: 13%;
      height: 344px;
      width: 460px;
    }

    @media only screen and (max-width: 605px) {
      top: 49%;
      left: 15%;
      height: 215px;
      width: 287.5px;
    }

    @media only screen and (max-width: 420px) {
      display:none;
    }


    &__title {
      & a {
        pointer-events: none;
        cursor: default;
        color: #424242;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-tertiary;
        font-size: 1.25rem;
        text-shadow: -1px -1px 0 rgba(223, 223, 223, 0.7),
          1px -1px 0 rgba(223, 223, 223, 0.7),
          -1px 1px 0 rgba(223, 223, 223, 0.7),
          1px 1px 0 rgba(223, 223, 223, 0.7);
      }

      &-northyork {
        position: absolute;
        top: 42%;
        left: 30%;
        z-index: 1;
      }

      &-etobicoke {
        position: absolute;
        top: 76%;
        left: 18%;
        z-index: 1;
        // transform: rotate(-21deg);
      }

      &-york {
        position: absolute;
        top: 66%;
        left: 35%;
        z-index: 1;
      }

      &-toronto {
        position: absolute;
        top: 75%;
        left: 49%;
        z-index: 1;
      }

      &-eastyork {
        position: absolute;
        top: 62%;
        left: 60%;
        z-index: 1;
      }

      &-scarborough {
        position: absolute;
        top: 31%;
        left: 75%;
        z-index: 1;
      }
    }

    &__sub-title {
      & a {
        position: relative;
        color: #555555;
        text-decoration: none;
        text-shadow: -1px -1px 0 rgba(223, 223, 223, 0.7),
          1px -1px 0 rgba(223, 223, 223, 0.7),
          -1px 1px 0 rgba(223, 223, 223, 0.7),
          1px 1px 0 rgba(223, 223, 223, 0.7);
        font-family: $font-quaternary;
        z-index: 1;

        // little circle
        &::before {
          position: absolute;
          height: 0.45rem;
          width: 0.45rem;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-50%);
          left: -0.5rem;
          background-color: #7b7b7b;
          content: " ";
          // margin-right: -12rem;
        }
      }

      &__1 {
        // willowdale
        position: absolute;
        top: 35%;
        left: 40%;
        color: white;
      }
      &__2 {
        // Don Valley Village
        display: none;
        position: absolute;
        top: 35%;
        left: 57%;
        color: white;
      }
      &__3 {
        // Jane and Finch
        display: none;
        position: absolute;
        top: 45%;
        left: 18%;
        color: white;
      }
      &__4 {
        // Smithfield
        display: none;
        position: absolute;
        top: 35%;
        left: 40%;
        color: white;
      }
      &__5 {
        // Golden Mile
        position: absolute;
        top: 45%;
        left: 80%;
        color: white;
      }
      &__6 {
        // The Junction
        position: absolute;
        top: 84%;
        left: 25%;
        color: white;
      }
      &__7 {
        // The Beaches
        position: absolute;
        top: 71%;
        left: 60%;
        color: white;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;

    font-family: $font-secondary;
    font-weight: 400;
  }

  &__item {
    margin: 2.5rem 0;
    position: relative;

    &:hover > div {
      width: 24rem;
      background-color: transparent;
      background-image: linear-gradient(to right, #404040 70%, transparent);
    }
  }

  &__grey-div {
    position: absolute;
    height: 4.5rem;
    width: 8rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: 404040;

    transition: all 0.45s;

    &.selected {
      width: 24rem;
      background-color: transparent;
      background-image: linear-gradient(to right, #404040 70%, transparent);
    }
  }

  &__link {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;
    // float: left;
    position: relative;
    left: 2%;
  }
}
