.footer {
    grid-row: 7 / 8;
    grid-column: sidebar-start / full-end;
    background-color: rgb(41, 41, 41);
    height: 100%;
    width: 100%;
    padding:5rem;

    .logo {
        width: 18rem;
        height: 5rem;
        margin: 0 auto 4rem;

        &__img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            transition: all $transition-1;
            cursor: pointer;

            &:hover {
                content:url("../img/logo-color.png");
            }
        }
    }

    &__list {
        width: 45rem;
        // display: inline-block;
        border-top: .5px solid white;
        padding-top: 2rem;  
        margin-right: 4.5rem;

        @media only screen and (max-width: 769px) {
            width: 100%;
            margin: 0 0 0 0;
            border-top: 0;
            padding-top: 0;
        }

        &--item {
            display: inline-block;
            &:last-child {
                margin-right: -.2rem;
            }
        }
        &--link {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-family: $font-primary;
            font-size: 1.2rem;
            transition: all $transition-1;
            display: block; 
            width: max-content;

            &:hover {
                color: $color-tertiary;
            }

            @media only screen and (max-width: 374px) {
                letter-spacing: .1em;
            }
        }
    }
    &__text {
        width: 45rem;
        color: white;
        font-family: $font-primary;
        font-size: 1.2rem;
        display: inline-block;
        padding-bottom: 1.5rem; 
        border-top: .5px solid white;
        padding-top: 2rem;  
        margin-left: 4.5rem;

        @media only screen and (max-width: $bp-ipad) {
            margin-left: 0rem;
            padding-top: .25rem;
            border-top: none;
            width: 75%;
            word-break: break-all;
        }
        
    }

}

.li__wrapper {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 769px) {
        width: 75%;
        padding-top: .25rem;
        // border-top: .5px solid white;
        margin: 0 auto 4rem;
    }
    @media only screen and (max-width: 474px) {
        width: 100%;
    }
    @media only screen and (max-width: 374px) {
        width: 120%;
        margin-left: -10%;
    }
}

.space-around {
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: $bp-ipad) {
        flex-wrap: wrap;
        justify-content: center;
    }
}
